/* 通用样式 */
body {
    font-family: Arial, sans-serif; /* 设置字体 */
    margin: 0; /* 去掉默认外边距 */
    padding: 0; /* 去掉默认内边距 */
    background-color: #f4f4f4; /* 背景颜色 */
    color: #333; /* 文字颜色 */
}

/* 页眉样式 */
header {
    display: flex; /* Flex布局 */
    justify-content: space-between; /* 两端对齐 */
    align-items: center; /* 垂直居中 */
    padding: 20px; /* 内边距 */
    background-color: white; /* 背景颜色 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}

.logo h1 {
    margin: 0; /* 去掉默认外边距 */
    font-size: 24px; /* 字体大小 */
}

nav a {
    margin: 0 15px; /* 外边距 */
    text-decoration: none; /* 去掉下划线 */
    color: #007bff; /* 链接颜色 */
}

nav a:hover {
    text-decoration: underline; /* 悬停时添加下划线 */
}

/* 返回按钮样式 */
.back-button {
    position: fixed; /* 固定定位 */
    right: 50px; /* 距离右侧20px */
    bottom: 50px;
    padding: 10px 15px; /* 内边距 */
    background-color: #080808; /* 按钮背景色 */
    color: white; /* 文字颜色 */
    text-decoration: none; /* 去掉下划线 */
    border-radius: 5px; /* 圆角 */
    transition: background-color 0.3s; /* 背景色过渡效果 */
    z-index: 1000; /* 确保在其他元素之上 */
}

.back-button:hover {
    background-color: #0056b3; /* 悬停时更改背景色 */
}

/* Hero 区域样式 */
.hero-section {
    background: url('img/hero.jpg') no-repeat center center/cover; /* 背景图片 */
    height: 80vh; /* 高度 */
    display: flex; /* Flex布局 */
    flex-direction: column; /* 垂直方向 */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    color: white; /* 文字颜色 */
    text-align: center; /* 居中对齐 */
}

.hero-section h2 {
    font-size: 48px; /* 标题字体大小 */
    margin: 0; /* 去掉外边距 */
}

.hero-section p {
    font-size: 24px; /* 描述字体大小 */
}

/* 项目概况区域样式 */
.project-overview {
    max-width: 800px; /* 最大宽度 */
    margin: 20px auto; /* 自动左右外边距，居中 */
    background: white; /* 背景颜色 */
    padding: 20px; /* 内边距 */
    border-radius: 8px; /* 圆角 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}

.project-overview h2 {
    color: #080808; /* 标题颜色 */
}

/* 产品区域样式 */
.products-section {
    max-width: 800px; /* 最大宽度 */
    margin: 20px auto; /* 自动左右外边距，居中 */
    padding: 20px; /* 内边距 */
    background: white; /* 背景颜色 */
    border-radius: 8px; /* 圆角 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}

/* 页脚样式 */
footer {
    text-align: center; /* 居中对齐 */
    padding: 10px; /* 内边距 */
    background: #16c54a; /* 背景颜色 */
    color: white; /* 文字颜色 */
    position: relative; /* 相对定位 */
    bottom: 0; /* 置于底部 */
    width: 100%; /* 宽度占满 */
}
img {
    display: block;
    max-width: 100%;  /* 确保图片不会超过父容器的宽度 */
    height: auto;  /* 保持图片的纵横比 */
    margin: 0 auto;  /* 居中图片 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* 阴影效果 */
    border-radius: 8px; /* 圆角 */
}
.fixed-image {
    position: fixed; /* 使图片固定在浏览器窗口 */
    top: 140px; /* 距离顶部10px */
    right: 10px; /* 距离右侧10px */
    width: 150px; /* 根据需要设置宽度 */
    height: auto; /* 保持纵横比 */
    z-index: 1000; 
}
@media (max-width: 1163px) {
    .fixed-image {
        display: none; /* 隐藏图片 */
    }
}